#collapsibleNavbar {

	padding: 0px 20px;
	font-size: 25px;
}

#logo {

	width: 80px;
	height: 80px;

}

.tourist-spots img {
	height: 170px;
}

.tourist-spots2 img {
	height: 400px;
}

.mt-2 {
	margin-top: 2;
}
